<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Links</title>
</head>
<body>
    <h1>Graph Links</h1>
    <ul>
        <li><a href="{% url 'attendance_per_student_graph' %}">Attendance per Student</a></li>
        <li><a href="{% url 'students_present_per_day_graph' %}">Students Present per Day</a></li>
        <li><a href="{% url 'attendance_trends_by_day_of_the_week' %}">Students Present per Day</a></li>
        <!-- Add more links as needed for other graphs -->
    </ul>
</body>
</html>
